DATABASE_URL="postgresql://postgres:postgres@localhost:5432/shiftsync?schema=public"
JWT_SECRET="shiftsync-jwt-secret-dev-2024"
JWT_REFRESH_SECRET="shiftsync-refresh-secret-dev-2024"
REDIS_URL="redis://localhost:6379"
PORT=3001
